/* Variáveis */
@import "./variables.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------- Classes utilitárias personalizadas -------------------*/
.primary-text {
  color: var(--primary-text);
}

.bg-primary-gradient {
  background-image: var(--primary-gradient);
}

.bg-secondary-gradient {
  background-image: var(--secondary-gradient);
}
