:root {
  /* Gradiente Landing Page */
  --primary-text: hsl(213 94% 68%);

  --primary-gradient: linear-gradient(
    135deg,
    hsl(213 94% 68%),
    hsl(213 94% 55%)
  );

  --secondary-gradient: linear-gradient(
    135deg,
    hsl(45 100% 70%),
    hsl(45 100% 75%)
  );
}
